@{
    ViewData["Title"] = "Video Games of the 80s";
}
<head>
    <link rel="stylesheet" href="~/css/eightiesgames.css" />
</head>

<h1>Video Games Of The 80s</h1>

<div class="border border-dark rounded">
    <div class="media">
        <img class="mr-3 img-fluid border-right border-dark" src="~/images/donkeykong.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">Donkey Kong(1981)</h5>
            The original Donkey Kong is definitely an '80s icon. Not only did it help establish Nintendo as a classic household name,
            but it gave the world its first taste of a certain portly plumber with a red hat and mustache. More high-concept than most old arcade games,
            Donkey Kong was something of a revolution when it hit arcades.
        </div>
    </div>
</div>

<br />

<div class="border border-dark rounded">
    <div class="media">
        <img class="mr-3 img-fluid border-right border-dark" src="~/images/tetris.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">Tetris(1989)</h5>
            There's probably not a gaming enthusiast out there who hasn't picked up some iteration of Tetris.
            At the bare minimum, the iconic puzzle title is perhaps the most accessible game on the list,
            appearing in arcades, consoles, and most famously the Gameboy.
        </div>
    </div>
</div>

<br />

<div class="border border-dark rounded">
    <div class="media">
        <img class="mr-3 img-fluid border-right border-dark" src="~/images/supermariobros.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">Super Mario Bros.(1985)</h5>
            Though not the original title to feature Mario in the lead role,
            it was the game that forever shaped the platform genre.
            Traversing through the Mushroom Kingdom has been a time-honored gaming tradition since 1985,
            and the plumber's career has only prospered.
        </div>
    </div>
</div>

<div class="border border-dark rounded">
    <div class="media">
        <img class="mr-3 img-fluid border-right border-dark" src="~/images/pacman.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">Pac-Man(1980)</h5>
            Pac-Man as a character alone is a character most '80s kids easily recognize. The original Maze Runner,
            Pac-Man is a game that has consumed more quarters than most and has since been established as an icon of the industry.
            Its reputation has certainly only grown with the introduction of new video game consoles and newer ways to play.
        </div>
    </div>
</div>

<div class="border border-dark rounded">
    <div class="media">
        <img class="mr-3 img-fluid border-right border-dark" src="~/images/galaga.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">Galaga(1981)</h5>
            Namco's Galaga took the familiar setup of games like Space Invaders and took the battle
            from the earth to the stars with lasers, missiles, starfighters, and a screen of colorful alien bugs.
            Instead of waiting for the aliens to crawl slowly down the screen,
            players would have to fight off squadrons of aliens as they tried to blow the player away.
        </div>
    </div>
</div>