@model GameInfoModel

@{
}

<h1 class="text-center">Game Info Editor</h1>

<form asp-action="WantToPlay" method="post">
    <input type="hidden" asp-for="GameID" />
    <label asp-for="Name">Name: </label><input asp-for="Name" /><br />
    <label asp-for="ReleaseDate">Release Date: </label><input asp-for="ReleaseDate" /><br />
    <label asp-for="Platform">Platform: </label><input asp-for="Platform" /><br />
    <button type="submit">@ViewBag.button</button>
</form>
