@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Video Games of the 1980s</h1>
    <p>This is a fan site for video games of the 1980s. It is currently a work in progress.</p>
</div>
